body{
    box-sizing: border-box;
    margin: 0;
    background-image: url(background.jpg);
    background-size: cover;
}

.container{
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    height: 650px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo{
    margin: auto;
    display: block;
    padding-top: 70px;
    width: 200px;
    height: 100px;
}

.text{
    text-align: center;
    font-size: 30px;
     color: rgb(41, 214, 41);
}

.row-1{
    margin: auto;
    text-align: center;
    background-color: rgb(41, 214, 41) ;
    height: 40px;
    width: 800px;
}

.row-1 .botton{
    margin-top: 10px;
}

.checkbox{
    margin-left: 100px;
    margin-top: 20px;
}

.scooter{
    display: inline-block;
    color: white;
}

p{
    color: lightgrey;
    margin-left: 100px;
    margin-top: -20px;
}

.charge-top{
    background-color: orange;
    border-radius: 5px 5px 5px 5px;
    width: 300px;
    height: 30px;
    margin-left: 100px;
    margin-top: -10px;
}

.charge-center{
    background-color: rgb(19, 180, 19);
    border-radius: 5px 5px 5px 5px;
    width: 500px;
    height: 30px;
    margin-left: 100px;
    margin-top: -10px;
}

.charge-bottom{
    background-color: rgb(197, 47, 47);
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 30px;
    margin-left: 100px;
    margin-top: -10px;
}